<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorner.airedbook.mapper.AiTaskMapper">

    <resultMap id="BaseResultMap" type="com.acorner.airedbook.entity.AiTask">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
        <result property="sourceImages" column="source_images" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="status" column="status" />
            <result property="resultVideoUrl" column="result_video_url" />
            <result property="resultContent" column="result_content" />
            <result property="errorMsg" column="error_msg" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,source_images,status,result_video_url,result_content,
        error_msg,create_time,update_time
    </sql>
</mapper>
