<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorner.airedbook.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="com.acorner.airedbook.entity.Post">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="content" column="content" />
            <result property="mediaUrl" column="media_url" />
            <result property="mediaType" column="media_type" />
            <result property="isAiGenerated" column="is_ai_generated" />
            <result property="likeCount" column="like_count" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,content,media_url,media_type,is_ai_generated,
        like_count,create_time,update_time
    </sql>
</mapper>
